* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f4f7f8;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.heading {
    width: 100vw;
    height: 5.5rem;
    background-color: rgba(255, 255, 0, 0.966);
    color: rgba(32, 33, 33, 0.63);
    box-shadow: 0px 10px 16px rgb(248, 247, 247);
}

.heading h1 {
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 400;
}

h1 {
    margin-left: 55rem;
}